@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

html {
  font-family: 'Noto Sans JP', sans-serif;
}

body { 
  background-color: #3f3f3f;
  padding-bottom: 1.5rem;
}

button{
  background-color: white;
  padding: 1rem 2.6rem;
  border: 1px solid ;
  border-radius: .6rem;
  outline: none;
  cursor: pointer;
}

button:hover,
button:active{
  background-color:#009f9f;
  border-color: #009f9f;
  color: white;
}